<div class="content-box col-centered">
  <h2>Question</h2>

  <p><%= @question.statement %></p>

  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', @question.lesson %>
</div>
