<div class="content-box col-centered">
  <h2>
    Courses
    <div class="btn-group pull-right">
      <%= link_to new_course_path, class: 'btn btn-primary btn-xs' do %>
          <span class="glyphicon glyphicon-plus"></span> New Course
      <% end %>
    </div>
  </h2>

  <table class="table tablesorter">
    <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
        <tr>
          <td><%= course.title %></td>
          <td>
            <%= actions_group show_btn(course),
                              edit_btn(edit_course_path(course)),
                              delete_btn(course) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
