<div class="content-box col-centered">
  <h2>Chapters</h2>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @chapters.each do |chapter| %>
        <tr>
          <td><%= chapter.title %></td>
          <td>
            <%= actions_group show_btn(chapter),
                              edit_btn(edit_chapter_path(chapter)),
                              delete_btn(chapter) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'New Chapter', new_course_chapter_path(@course) %>
</div>
