$backgroundColor:          #fbfbfb;// Background

$darkIndigoColor:     #303F9F;
$indigoColor:         #3F51B5;
$lightIndigoColor:    #C5CAE9;
$whiteColor:          #FFFFFF;
$greenColor:          #4CAF50;
$primaryTextColor:    #212121;
$secondaryTextColor:  #727272;
$dividerColor:        #B6B6B6;

/* Font */
$small-font: 10px;

/* Sizes */
$top-bar-height: 60px;
$top-bar-height-pad: 80px;
